/* ============== Google font Roboto ============== */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* ============== Variables CSS ============== */
:root{
    /* ============ hauteur header ============*/
    --header-height: 5rem;

    /* ============ Colors ============*/
    --first-color: #ffffff;
    --second-color: #333333;
    --third-color: ;

    /* ============ Z-index ============*/
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;

    --h1-font-size: 20px;
    --h2-font-size: 18px;
    --nav-list-font-size: 22px;
    --p-font-size: 15px;
    --icones-font-size: 30px;

}
@media screen and (min-width : 768px){
    :root{
        --h1-font-size: 25px;
        /* --h2-font-size: ; */
        --nav-list-font-size: 15px;
        /* --p-font_size: ; */
        --icones-font-size: 30px;
    }
}
/* @media screen and (min-width : 992px){
    :root{
        --h1-font-size: ;
        --h2-font-size: ;
        --nav-list-font-size: ;
        --p-font_size: ;
        --icones-font-size: ;
    }
} */

/* ============== Webkit Scrollbar (enlever la scrollbar) ============== */
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}


/* ============== Classes générales ============== */
*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'roboto', sans-serif;
    font-size: 15px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}


/* ============== HEADER ============== */
#header{
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    background: #ffffff;
    z-index: var(--z-fixed);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}
#header .nav__container{
    width: 100%;
    padding: 0 20px;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#header .nav__container .nav__toggle{
    height: 35px;
}
#header .nav__container .bx-menu::before{
    height: 35px;
    display: flex;
    align-items: center;
    font-size: 35px;
    color: var(--second-color);
}

/* ============== Navigation ============== */
#header .nav__container .nav__brand-And-Menu{
    display: flex;
    align-items: center;
}
#header .nav__container .nav__brand a h1{
    height: 25px;
    display: flex;
    align-items: center;
    font-size: var(--h1-font-size);
    color: var(--second-color);
    text-transform: uppercase;
}
#header .nav__container .nav__menu{
    width: 100%;
    height: calc(100vh - var(--header-height));
    position: absolute;
    top: var(--header-height);
    left: -100%;
    transition: all 0.3s ease-in-out;
}
#header .nav__container .nav__menu .nav__list{
    width: 85%;
    height: calc(100vh - var(--header-height));
    background: #eeeeee;   
}
#header .nav__container .nav__menu .nav__list .nav__item{
    width: 100%;
    padding: 30px 20px;
    text-transform: uppercase;
}
#header .nav__container .nav__menu .nav__list .nav__item .nav__link{
    width: 100%;
    font-size: var(--nav-list-font-size);
    letter-spacing: 1px;
    font-weight: bold;
    color: var(--second-color);
}

/* ============== icones panier, recherche et connexion compte ============== */
#header .nav__container .nav__icones {
    display: flex;
    align-items: center;
    font-size: var(--icones-font-size);
    color: var(--second-color);
}
#header .nav__container .nav__icones .bx-user-circle::before, #header .nav__container .nav__icones .bx-search::before{
    display: none;
}

/* ============== Class qui permet d'afficher ou non la navigation ============== */
#header .nav__container .show {
    left: 0;
}

/* ============== Responsive du header et de la barre de navigation ============== */
@media screen and (min-width : 768px){
    /* ========== désactive l'îcone toggle ========== */
    #header .nav__container .nav__toggle{
        display: none;
    }
    #header .nav__container{
        padding: 0 30px;
    }
    
    /* ========== navigation ========== */
    #header .nav__container .nav__brand a h1{
        font-size: var(--h1-font-size);
    }
    #header .nav__container .nav__menu{
        height: var(--header-height);
        position: relative;
        top: 0;
        left: 0;
    }
    #header .nav__container .nav__menu .nav__list{
        width: 85%;
        height: var(--header-height);
        display: flex;
        align-items: center;
        background: transparent;  
    }
    
    #header .nav__container .nav__menu .nav__list .nav__item .nav__link{
        font-weight: medium;
    }
    /* ========== Affiche les îcones recherche et connexion au compte ========== */
    #header .nav__container .nav__icones .bx-user-circle::before, #header .nav__container .nav__icones .bx-search::before{
        display: block;
    }
    #header .nav__container .nav__icones .bx {
        margin-right: 10px;
    }
}


/* ============== MAIN ============== */
#main {
    margin-top: var(--header-height);
}
.wrapper {
    width: 95%;
    padding-top: 20px;
    margin: 0 auto;
}
#clothing-choose {
    display: flex;
    flex-wrap: wrap;
}
#clothing-choose .clothing__box {
    width: calc((100%-60px)/2);
    display: block;
    padding: 0 3px;
    margin-bottom: 20px;
}
#clothing-choose .clothing__box a {
    width: 100%;
   
}
#clothing-choose .clothing__box a img{
    width: 100%;
    vertical-align: top;
}
#clothing-choose .clothing__box .clothing__infos h2 {
    width: 100%;
    margin-top: 15px;
    font-size: var(--h2-font-size);
    text-align: center;
    text-transform: uppercase;
}
#clothing-choose .clothing__box .clothing__infos p {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 25px;
    font-size: var(--p-font-size);
    text-align: center;
}

@media screen and (min-width : 768px){
    #clothing-choose .clothing__box {
        width: calc((100%-60px)/4);
    }
}


img{
    width: 100px;
}